[Desktop Entry]
Encoding=UTF-8
Name=Link to Copycat 759 Font · 1001 Fonts
Type=Link
URL=http://www.1001fonts.com/copycat-759-font.html
Icon=mate-fs-bookmark
